name: Backend Linting

on:
    pull_request:
    push:
        branches:
            - main
            - dev
            - feature-*

jobs:
  lint_backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Ruff
        run: |
          pip install ruff

      - name: Run Ruff linting
        run: |
          ruff check .
